-- CreateTable
CREATE TABLE `cmi_RegionalChinese` (
    `trid` INTEGER NOT NULL AUTO_INCREMENT,
    `rid` INTEGER NOT NULL,
    `Summary` TEXT NULL,
    `newsSubject` VARCHAR(900) NOT NULL,
    `keyword` VARCHAR(400) NOT NULL,
    `meta_title` VARCHAR(200) NOT NULL,
    `meta_description` VARCHAR(400) NOT NULL,
    `meta_keywords` VARCHAR(600) NOT NULL,
    `Market_Size_Trends` TEXT NULL,
    `Market_Concentration_Comp_Landscape` TEXT NULL,
    `Key_Analyst_Takeaways` TEXT NULL,
    `Regional_Insights` TEXT NULL,
    `Report_Scope_Table` TEXT NULL,
    `Key_Developments` TEXT NULL,
    `Report_Segmentation` TEXT NULL,
    `Insight1_Header` VARCHAR(400) NULL,
    `Insight1_Description` TEXT NULL,
    `Insight2_Header` VARCHAR(400) NULL,
    `Insight2_Description` TEXT NULL,
    `Insight3_Header` VARCHAR(400) NULL,
    `Insight3_Description` TEXT NULL,
    `Insight4_Header` VARCHAR(400) NULL,
    `Insight4_Description` TEXT NULL,
    `Insight5_Header` VARCHAR(400) NULL,
    `Insight5_Description` TEXT NULL,
    `TransDate` DATE NULL,
    `UpdatedDate` DATE NULL,

    INDEX `Insight1_Header`(`Insight1_Header`),
    INDEX `Insight2_Header`(`Insight2_Header`),
    INDEX `Insight3_Header`(`Insight3_Header`),
    INDEX `Insight4_Header`(`Insight4_Header`),
    INDEX `Insight5_Header`(`Insight5_Header`),
    INDEX `TransDate`(`TransDate`),
    INDEX `UpdatedDate`(`UpdatedDate`),
    INDEX `keyword`(`keyword`),
    INDEX `meta_description`(`meta_description`),
    INDEX `meta_keywords`(`meta_keywords`),
    INDEX `meta_title`(`meta_title`),
    INDEX `newsSubject`(`newsSubject`(768)),
    INDEX `rid`(`rid`),
    INDEX `trid`(`trid`),
    PRIMARY KEY (`trid`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `cmi_RegionalFrench` (
    `trid` INTEGER NOT NULL AUTO_INCREMENT,
    `rid` INTEGER NOT NULL,
    `Summary` TEXT NULL,
    `newsSubject` VARCHAR(900) NOT NULL,
    `keyword` VARCHAR(400) NOT NULL,
    `meta_title` VARCHAR(200) NOT NULL,
    `meta_description` VARCHAR(400) NOT NULL,
    `meta_keywords` VARCHAR(600) NOT NULL,
    `Market_Size_Trends` TEXT NULL,
    `Market_Concentration_Comp_Landscape` TEXT NULL,
    `Key_Analyst_Takeaways` TEXT NULL,
    `Regional_Insights` TEXT NULL,
    `Report_Scope_Table` TEXT NULL,
    `Key_Developments` TEXT NULL,
    `Report_Segmentation` TEXT NULL,
    `Insight1_Header` VARCHAR(400) NULL,
    `Insight1_Description` TEXT NULL,
    `Insight2_Header` VARCHAR(400) NULL,
    `Insight2_Description` TEXT NULL,
    `Insight3_Header` VARCHAR(400) NULL,
    `Insight3_Description` TEXT NULL,
    `Insight4_Header` VARCHAR(400) NULL,
    `Insight4_Description` TEXT NULL,
    `Insight5_Header` VARCHAR(400) NULL,
    `Insight5_Description` TEXT NULL,
    `TransDate` DATE NULL,
    `UpdatedDate` DATE NULL,

    INDEX `Insight1_Header`(`Insight1_Header`),
    INDEX `Insight2_Header`(`Insight2_Header`),
    INDEX `Insight3_Header`(`Insight3_Header`),
    INDEX `Insight4_Header`(`Insight4_Header`),
    INDEX `Insight5_Header`(`Insight5_Header`),
    INDEX `TransDate`(`TransDate`),
    INDEX `UpdatedDate`(`UpdatedDate`),
    INDEX `keyword`(`keyword`),
    INDEX `meta_description`(`meta_description`),
    INDEX `meta_keywords`(`meta_keywords`),
    INDEX `meta_title`(`meta_title`),
    INDEX `newsSubject`(`newsSubject`(768)),
    INDEX `rid`(`rid`),
    INDEX `trid`(`trid`),
    PRIMARY KEY (`trid`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `cmi_RegionalGerman` (
    `trid` INTEGER NOT NULL AUTO_INCREMENT,
    `rid` INTEGER NOT NULL,
    `Summary` TEXT NULL,
    `newsSubject` VARCHAR(900) NOT NULL,
    `keyword` VARCHAR(400) NOT NULL,
    `meta_title` VARCHAR(200) NOT NULL,
    `meta_description` VARCHAR(400) NOT NULL,
    `meta_keywords` VARCHAR(600) NOT NULL,
    `Market_Size_Trends` TEXT NULL,
    `Market_Concentration_Comp_Landscape` TEXT NULL,
    `Key_Analyst_Takeaways` TEXT NULL,
    `Regional_Insights` TEXT NULL,
    `Report_Scope_Table` TEXT NULL,
    `Key_Developments` TEXT NULL,
    `Report_Segmentation` TEXT NULL,
    `Insight1_Header` VARCHAR(400) NULL,
    `Insight1_Description` TEXT NULL,
    `Insight2_Header` VARCHAR(400) NULL,
    `Insight2_Description` TEXT NULL,
    `Insight3_Header` VARCHAR(400) NULL,
    `Insight3_Description` TEXT NULL,
    `Insight4_Header` VARCHAR(400) NULL,
    `Insight4_Description` TEXT NULL,
    `Insight5_Header` VARCHAR(400) NULL,
    `Insight5_Description` TEXT NULL,
    `TransDate` DATE NULL,
    `UpdatedDate` DATE NULL,

    INDEX `Insight1_Header`(`Insight1_Header`),
    INDEX `Insight2_Header`(`Insight2_Header`),
    INDEX `Insight3_Header`(`Insight3_Header`),
    INDEX `Insight4_Header`(`Insight4_Header`),
    INDEX `Insight5_Header`(`Insight5_Header`),
    INDEX `TransDate`(`TransDate`),
    INDEX `UpdatedDate`(`UpdatedDate`),
    INDEX `keyword`(`keyword`),
    INDEX `meta_description`(`meta_description`),
    INDEX `meta_keywords`(`meta_keywords`),
    INDEX `meta_title`(`meta_title`),
    INDEX `newsSubject`(`newsSubject`(768)),
    INDEX `rid`(`rid`),
    INDEX `trid`(`trid`),
    PRIMARY KEY (`trid`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `cmi_RegionalItalian` (
    `trid` INTEGER NOT NULL AUTO_INCREMENT,
    `rid` INTEGER NOT NULL,
    `Summary` TEXT NULL,
    `newsSubject` VARCHAR(900) NOT NULL,
    `keyword` VARCHAR(400) NOT NULL,
    `meta_title` VARCHAR(200) NOT NULL,
    `meta_description` VARCHAR(400) NOT NULL,
    `meta_keywords` VARCHAR(600) NOT NULL,
    `Market_Size_Trends` TEXT NULL,
    `Market_Concentration_Comp_Landscape` TEXT NULL,
    `Key_Analyst_Takeaways` TEXT NULL,
    `Regional_Insights` TEXT NULL,
    `Report_Scope_Table` TEXT NULL,
    `Key_Developments` TEXT NULL,
    `Report_Segmentation` TEXT NULL,
    `Insight1_Header` VARCHAR(400) NULL,
    `Insight1_Description` TEXT NULL,
    `Insight2_Header` VARCHAR(400) NULL,
    `Insight2_Description` TEXT NULL,
    `Insight3_Header` VARCHAR(400) NULL,
    `Insight3_Description` TEXT NULL,
    `Insight4_Header` VARCHAR(400) NULL,
    `Insight4_Description` TEXT NULL,
    `Insight5_Header` VARCHAR(400) NULL,
    `Insight5_Description` TEXT NULL,
    `TransDate` DATE NULL,
    `UpdatedDate` DATE NULL,

    INDEX `Insight1_Header`(`Insight1_Header`),
    INDEX `Insight2_Header`(`Insight2_Header`),
    INDEX `Insight3_Header`(`Insight3_Header`),
    INDEX `Insight4_Header`(`Insight4_Header`),
    INDEX `Insight5_Header`(`Insight5_Header`),
    INDEX `TransDate`(`TransDate`),
    INDEX `UpdatedDate`(`UpdatedDate`),
    INDEX `keyword`(`keyword`),
    INDEX `meta_description`(`meta_description`),
    INDEX `meta_keywords`(`meta_keywords`),
    INDEX `meta_title`(`meta_title`),
    INDEX `newsSubject`(`newsSubject`(768)),
    INDEX `rid`(`rid`),
    INDEX `trid`(`trid`),
    PRIMARY KEY (`trid`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `cmi_RegionalJapanese` (
    `trid` INTEGER NOT NULL AUTO_INCREMENT,
    `rid` INTEGER NOT NULL,
    `Summary` TEXT NULL,
    `newsSubject` VARCHAR(900) NOT NULL,
    `keyword` VARCHAR(400) NOT NULL,
    `meta_title` VARCHAR(200) NOT NULL,
    `meta_description` VARCHAR(400) NOT NULL,
    `meta_keywords` VARCHAR(600) NOT NULL,
    `Market_Size_Trends` TEXT NULL,
    `Market_Concentration_Comp_Landscape` TEXT NULL,
    `Key_Analyst_Takeaways` TEXT NULL,
    `Regional_Insights` TEXT NULL,
    `Report_Scope_Table` TEXT NULL,
    `Key_Developments` TEXT NULL,
    `Report_Segmentation` TEXT NULL,
    `Insight1_Header` VARCHAR(400) NULL,
    `Insight1_Description` TEXT NULL,
    `Insight2_Header` VARCHAR(400) NULL,
    `Insight2_Description` TEXT NULL,
    `Insight3_Header` VARCHAR(400) NULL,
    `Insight3_Description` TEXT NULL,
    `Insight4_Header` VARCHAR(400) NULL,
    `Insight4_Description` TEXT NULL,
    `Insight5_Header` VARCHAR(400) NULL,
    `Insight5_Description` TEXT NULL,
    `TransDate` DATE NULL,
    `UpdatedDate` DATE NULL,

    INDEX `Insight1_Header`(`Insight1_Header`),
    INDEX `Insight2_Header`(`Insight2_Header`),
    INDEX `Insight3_Header`(`Insight3_Header`),
    INDEX `Insight4_Header`(`Insight4_Header`),
    INDEX `Insight5_Header`(`Insight5_Header`),
    INDEX `TransDate`(`TransDate`),
    INDEX `UpdatedDate`(`UpdatedDate`),
    INDEX `keyword`(`keyword`),
    INDEX `meta_description`(`meta_description`),
    INDEX `meta_keywords`(`meta_keywords`),
    INDEX `meta_title`(`meta_title`),
    INDEX `newsSubject`(`newsSubject`(768)),
    INDEX `rid`(`rid`),
    INDEX `trid`(`trid`),
    PRIMARY KEY (`trid`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `cmi_RegionalKorean` (
    `trid` INTEGER NOT NULL AUTO_INCREMENT,
    `rid` INTEGER NOT NULL,
    `Summary` TEXT NULL,
    `newsSubject` VARCHAR(900) NOT NULL,
    `keyword` VARCHAR(400) NOT NULL,
    `meta_title` VARCHAR(200) NOT NULL,
    `meta_description` VARCHAR(400) NOT NULL,
    `meta_keywords` VARCHAR(600) NOT NULL,
    `Market_Size_Trends` TEXT NULL,
    `Market_Concentration_Comp_Landscape` TEXT NULL,
    `Key_Analyst_Takeaways` TEXT NULL,
    `Regional_Insights` TEXT NULL,
    `Report_Scope_Table` TEXT NULL,
    `Key_Developments` TEXT NULL,
    `Report_Segmentation` TEXT NULL,
    `Insight1_Header` VARCHAR(400) NULL,
    `Insight1_Description` TEXT NULL,
    `Insight2_Header` VARCHAR(400) NULL,
    `Insight2_Description` TEXT NULL,
    `Insight3_Header` VARCHAR(400) NULL,
    `Insight3_Description` TEXT NULL,
    `Insight4_Header` VARCHAR(400) NULL,
    `Insight4_Description` TEXT NULL,
    `Insight5_Header` VARCHAR(400) NULL,
    `Insight5_Description` TEXT NULL,
    `TransDate` DATE NULL,
    `UpdatedDate` DATE NULL,

    INDEX `Insight1_Header`(`Insight1_Header`),
    INDEX `Insight2_Header`(`Insight2_Header`),
    INDEX `Insight3_Header`(`Insight3_Header`),
    INDEX `Insight4_Header`(`Insight4_Header`),
    INDEX `Insight5_Header`(`Insight5_Header`),
    INDEX `TransDate`(`TransDate`),
    INDEX `UpdatedDate`(`UpdatedDate`),
    INDEX `keyword`(`keyword`),
    INDEX `meta_description`(`meta_description`),
    INDEX `meta_keywords`(`meta_keywords`),
    INDEX `meta_title`(`meta_title`),
    INDEX `newsSubject`(`newsSubject`(768)),
    INDEX `rid`(`rid`),
    INDEX `trid`(`trid`),
    PRIMARY KEY (`trid`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `cmi_RegionalPortuguese` (
    `trid` INTEGER NOT NULL AUTO_INCREMENT,
    `rid` INTEGER NOT NULL,
    `Summary` TEXT NULL,
    `newsSubject` VARCHAR(900) NOT NULL,
    `keyword` VARCHAR(400) NOT NULL,
    `meta_title` VARCHAR(200) NOT NULL,
    `meta_description` VARCHAR(400) NOT NULL,
    `meta_keywords` VARCHAR(600) NOT NULL,
    `Market_Size_Trends` TEXT NULL,
    `Market_Concentration_Comp_Landscape` TEXT NULL,
    `Key_Analyst_Takeaways` TEXT NULL,
    `Regional_Insights` TEXT NULL,
    `Report_Scope_Table` TEXT NULL,
    `Key_Developments` TEXT NULL,
    `Report_Segmentation` TEXT NULL,
    `Insight1_Header` VARCHAR(400) NULL,
    `Insight1_Description` TEXT NULL,
    `Insight2_Header` VARCHAR(400) NULL,
    `Insight2_Description` TEXT NULL,
    `Insight3_Header` VARCHAR(400) NULL,
    `Insight3_Description` TEXT NULL,
    `Insight4_Header` VARCHAR(400) NULL,
    `Insight4_Description` TEXT NULL,
    `Insight5_Header` VARCHAR(400) NULL,
    `Insight5_Description` TEXT NULL,
    `TransDate` DATE NULL,
    `UpdatedDate` DATE NULL,

    INDEX `Insight1_Header`(`Insight1_Header`),
    INDEX `Insight2_Header`(`Insight2_Header`),
    INDEX `Insight3_Header`(`Insight3_Header`),
    INDEX `Insight4_Header`(`Insight4_Header`),
    INDEX `Insight5_Header`(`Insight5_Header`),
    INDEX `TransDate`(`TransDate`),
    INDEX `UpdatedDate`(`UpdatedDate`),
    INDEX `keyword`(`keyword`),
    INDEX `meta_description`(`meta_description`),
    INDEX `meta_keywords`(`meta_keywords`),
    INDEX `meta_title`(`meta_title`),
    INDEX `newsSubject`(`newsSubject`(768)),
    INDEX `rid`(`rid`),
    INDEX `trid`(`trid`),
    PRIMARY KEY (`trid`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `cmi_RegionalRussian` (
    `trid` INTEGER NOT NULL AUTO_INCREMENT,
    `rid` INTEGER NOT NULL,
    `Summary` TEXT NULL,
    `newsSubject` VARCHAR(900) NOT NULL,
    `keyword` VARCHAR(400) NOT NULL,
    `meta_title` VARCHAR(200) NOT NULL,
    `meta_description` VARCHAR(400) NOT NULL,
    `meta_keywords` VARCHAR(600) NOT NULL,
    `Market_Size_Trends` TEXT NULL,
    `Market_Concentration_Comp_Landscape` TEXT NULL,
    `Key_Analyst_Takeaways` TEXT NULL,
    `Regional_Insights` TEXT NULL,
    `Report_Scope_Table` TEXT NULL,
    `Key_Developments` TEXT NULL,
    `Report_Segmentation` TEXT NULL,
    `Insight1_Header` VARCHAR(400) NULL,
    `Insight1_Description` TEXT NULL,
    `Insight2_Header` VARCHAR(400) NULL,
    `Insight2_Description` TEXT NULL,
    `Insight3_Header` VARCHAR(400) NULL,
    `Insight3_Description` TEXT NULL,
    `Insight4_Header` VARCHAR(400) NULL,
    `Insight4_Description` TEXT NULL,
    `Insight5_Header` VARCHAR(400) NULL,
    `Insight5_Description` TEXT NULL,
    `TransDate` DATE NULL,
    `UpdatedDate` DATE NULL,

    INDEX `Insight1_Header`(`Insight1_Header`),
    INDEX `Insight2_Header`(`Insight2_Header`),
    INDEX `Insight3_Header`(`Insight3_Header`),
    INDEX `Insight4_Header`(`Insight4_Header`),
    INDEX `Insight5_Header`(`Insight5_Header`),
    INDEX `TransDate`(`TransDate`),
    INDEX `UpdatedDate`(`UpdatedDate`),
    INDEX `keyword`(`keyword`),
    INDEX `meta_description`(`meta_description`),
    INDEX `meta_keywords`(`meta_keywords`),
    INDEX `meta_title`(`meta_title`),
    INDEX `newsSubject`(`newsSubject`(768)),
    INDEX `rid`(`rid`),
    INDEX `trid`(`trid`),
    PRIMARY KEY (`trid`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `cmi_reports` (
    `newsId` INTEGER UNSIGNED NOT NULL AUTO_INCREMENT,
    `reportstatus` INTEGER NULL DEFAULT 0,
    `CatId` INTEGER NOT NULL,
    `newsSubject` TEXT NOT NULL,
    `keyword` VARCHAR(200) NULL,
    `forcastyear` VARCHAR(300) NOT NULL,
    `newsLDesc` TEXT NOT NULL,
    `summary` TEXT NULL,
    `segmentation` TEXT NULL,
    `newsDate` DATE NOT NULL,
    `Price_SUL` DOUBLE NOT NULL,
    `Price_CUL` VARCHAR(18) NULL,
    `Price_Multi` VARCHAR(20) NULL,
    `No_Pages` VARCHAR(60) NOT NULL,
    `CreatedDate` DATETIME(0) NOT NULL,
    `ModifiedDate` DATETIME(0) NULL,
    `IsActive` INTEGER NOT NULL DEFAULT 1,
    `discount` VARCHAR(10) NULL,
    `meta_title` VARCHAR(400) NULL,
    `meta_description` VARCHAR(500) NULL,
    `meta_keywords` VARCHAR(900) NULL,
    `CustomName` VARCHAR(300) NULL,
    `admin_id` INTEGER NOT NULL,
    `keywords` VARCHAR(900) NULL,
    `translateStatus` INTEGER NOT NULL DEFAULT 0,

    INDEX `CatId`(`CatId`),
    INDEX `CreatedDate`(`CreatedDate`),
    INDEX `CustomName`(`CustomName`),
    INDEX `IsActive`(`IsActive`),
    INDEX `No_Pages`(`No_Pages`),
    INDEX `Price_CUL`(`Price_CUL`),
    INDEX `Price_Multi`(`Price_Multi`),
    INDEX `Price_SUL`(`Price_SUL`),
    INDEX `keyword`(`keyword`),
    INDEX `keywords`(`keywords`(333)),
    INDEX `meta_description`(`meta_description`(333)),
    INDEX `meta_keywords`(`meta_keywords`(333)),
    INDEX `meta_title`(`meta_title`(333)),
    INDEX `newsDate`(`newsDate`),
    INDEX `newsId`(`newsId`),
    INDEX `newsSubject`(`newsSubject`(333)),
    INDEX `newsSubject_2`(`newsSubject`(333)),
    INDEX `reportstatus`(`reportstatus`),
    PRIMARY KEY (`newsId`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `cmi_reportsummery` (
    `sid` INTEGER NOT NULL AUTO_INCREMENT,
    `nid` INTEGER NOT NULL,
    `Market_Size_Trends` TEXT NULL,
    `Market_Concentration_Comp_Landscape` TEXT NULL,
    `Key_Analyst_Takeaways` TEXT NULL,
    `Regional_Insights` TEXT NULL,
    `Report_Scope_Table` TEXT NULL,
    `Key_Developments` TEXT NULL,
    `Report_Segmentation` TEXT NULL,
    `Insight1_Header` VARCHAR(400) NULL,
    `Insight1_Description` TEXT NULL,
    `Insight2_Header` VARCHAR(400) NULL,
    `Insight2_Description` TEXT NULL,
    `Insight3_Header` VARCHAR(400) NULL,
    `Insight3_Description` TEXT NULL,
    `Insight4_Header` VARCHAR(400) NULL,
    `Insight4_Description` TEXT NULL,
    `Insight5_Header` VARCHAR(400) NULL,
    `Insight5_Description` TEXT NULL,
    `TranslateStatus` INTEGER NOT NULL DEFAULT 0,

    INDEX `nid`(`nid`),
    PRIMARY KEY (`sid`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

